:root {
    --color1: #008000;
    --color2: #ffffff;
    --color3: #ff0000;
    --color4: #ffff00;
}

body {
    margin: 0;
    line-height: 1.5;
}

header {
    background-color: var(--color1);
    text-align: center;
    color: white;
    padding: 1rem;
    border-bottom: 5px solid var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;
}

.data, .weather {
    border: 1px solid var(--color4);
    padding: 15px;
    text-align: center;
}

.weather-icon {
    width: 75px;
    height: auto;
    display: block;
    margin: 10px auto;
}

footer {
    background-color: var(--color3);
    color: var(--color2);
    text-align: center;
    padding: 1rem;
    margin-top: 15px;
}

